{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django project</title>
    
    <link type="text/css" href="{% static 'css/index.css' %}" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body> 

    <nav style="background : #272727de" class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
          <a class="navbar-brand" href="/">Get Started</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{ user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
              {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Sign Up</a>
                    </li>
              {% endif %}
            </ul>
          </div>
        </div>
    </nav>

    <div class="container">
        <form class="our-add-post-form" method="POST" action="/add">
             {% csrf_token %}
            <h1 id="new-post-button">New Post</h1> 
            <div class="form-group">
                <label for="exampleInputPassword3">Title</label>
                <input type="text" name="title" class="form-control" id="exampleInputPassword3" placeholder="Enter Title">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Image URL</label>
                <input type="url" name="imgurl" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Image URL">
              </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Description</label>
                <textarea name="desc" class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Write Something about the post"></textarea>
            </div>
            
            <div class="form-check mb-3">
              {% if user.is_athenticated %}
                  <input type="checkbox" name="isanonymous" class="form-check-input" id="exampleCheck1" value="true"> 
              {% else %}
                  <input type="checkbox" name="isanonymous" class="form-check-input" id="exampleCheck1" value="true" checked>
              {% endif %}
              <label class="form-check-label" for="exampleCheck1">Anonymous User</label>
            </div>
                
            <button type="submit" class="btn btn-primary">Add Post</button>
          </form>
    </div>
   




    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>

