{% extends 'base.html' %}

{% block content %}
    <div class="container">
    <div class="row">
        {% for dest in data  %}
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" style="width : 100%; height : 300px;" src="{{ dest.imgurl }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ dest.title }}</h5>
                        <p class="card-text">{{ dest.desc }}</p>
                        <p class="card-text">Hi: {{ dest.username }}</p>
                        <a href="https://www.google.com" class="btn btn-primary">Tagged</a>
                    </div>    
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
   



{% endblock %}

